DJANGO_DEBUG=1
SECRET_KEY=change-me-change-me-change-me-change-me
ALLOWED_HOSTS=*
POSTGRES_DB=rbf
POSTGRES_USER=rbf_user
POSTGRES_PASSWORD=rbf_pass
DATABASE_URL=postgresql://rbf_user:rbf_pass@db:5432/rbf
REDIS_URL=redis://redis:6379/0
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=sting.7even0@gmail.com
EMAIL_HOST_PASSWORD="hsbr wfxd xbro irrf"
DEFAULT_FROM_EMAIL=sting.7even0@gmail.com
DJANGO_DEBUG=1
OTP_LENGTH=6
OTP_EXPIRY_SECONDS=300
GUNICORN_WORKERS=1

#PROSPECT_BASE_URL=http://localhost:3000/api
PROSPECT_BASE_URL=http://192.168.68.140:3000/api

PROSPECT_API_SECRET=22c3d3f9f8b9b3397a171972f71b5c16

PROSPECT_TOKEN_IN_AGENTS=8b5d78afb33b7e93d6728a8a26f1c00a
PROSPECT_TOKEN_IN_TARGETS=8a216dbba7cbc35f3c9cb83f45791424
PROSPECT_TOKEN_IN_CUSTOMERS=b2bbb9b3a50696e6eb3038b5354adb2f
PROSPECT_TOKEN_IN_INSTALLATIONS=4aa797f70f22055a4fcc8ece29de278b
PROSPECT_TOKEN_IN_INSTALLATIONS_TS=837dcce66fa47f5abd557793dfdf768a
PROSPECT_TOKEN_IN_REPORTS=0ba355d3d8eb903bf8334540457c1a3c
# PROSPECT_TOKEN_OUT_SMART_METER_TECHNICAL_DATA=
# PROSPECT_TOKEN_OUT_SMART_METER_METERS=
PROSPECT_TOKEN_OUT_INSTALLATIONS=22c3d3f9f8b9b3397a171972f71b5c16
PROSPECT_TOKEN_OUT_TARGETS=22c3d3f9f8b9b3397a171972f71b5c16

PROSPECT_TIMEOUT_SECONDS=15
PROSPECT_BATCH_SIZE=10000
LESOTHO_BOUNDARY_PATH=/public/geojson/lesotho.geojson
GPS_DUPLICATE_RADIUS_METERS=10
GPS_VERIFICATION_MAX_DISTANCE_METERS=50
KPI_CACHE_MINUTES=15
MILESTONE2_VERIFICATION_THRESHOLD=0.80
ANOMALY_DEVIATION_THRESHOLD=0.05
MAX_MAP_RECORDS=1000
MAX_FILE_SIZE_MB=10

API_PAGE_SIZE=50
API_THROTTLE_ANON=120/hour
API_THROTTLE_USER=600/hour
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
