DJANGO_DEBUG=1
SECRET_KEY=change-me-change-me-change-me-change-me
ALLOWED_HOSTS=localhost,127.0.0.1
API_REQUIRE_AUTH=0
LOG_LEVEL=INFO
POSTGRES_DB=rbf
POSTGRES_USER=rbf_user
POSTGRES_PASSWORD=rbf_pass
DATABASE_URL=postgresql://rbf_user:rbf_pass@db:5432/rbf
REDIS_URL=redis://redis:6379/0

# Email / OTP settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-email@gmail.com
OTP_LENGTH=6
OTP_EXPIRY_SECONDS=300
OTP_VERIFIED_SECONDS=1800
DB_CONN_MAX_AGE=60
API_PAGE_SIZE=50
API_THROTTLE_ANON=120/hour
API_THROTTLE_USER=600/hour
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
CORS_ALLOW_ALL_ORIGINS=1
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
SECURE_SSL_REDIRECT=0
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=1
SECURE_HSTS_PRELOAD=1


#_____________________________________________________________

DJANGO_DEBUG=1
SECRET_KEY=change-me-change-me-change-me-change-me
ALLOWED_HOSTS=*
POSTGRES_DB=rbf
POSTGRES_USER=rbf_user
POSTGRES_PASSWORD=rbf_pass
DATABASE_URL=postgresql://rbf_user:rbf_pass@db:5432/rbf
REDIS_URL=redis://redis:6379/0
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=sting.7even0@gmail.com
EMAIL_HOST_PASSWORD="hsbr wfxd xbro irrf"
DEFAULT_FROM_EMAIL=sting.7even0@gmail.com
OTP_LENGTH=6
OTP_EXPIRY_SECONDS=300
